/* .container {
		margin-top: 50px;
	} 
*/
.table {
    width: 100%;
    margin-bottom: 1rem;
}
.navbar {
    padding: 1rem;
}
.pokemon-card{
  background: radial-gradient(#ffef77 60%, #b7a200);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3.5%;
  border-radius: 15px;
  aspect-ratio: 3 / 4;
  content-visibility: auto;
}
.pokemon-header{
  position: absolute;
  top: 2%;
  left: 0;
  right: 0;
  bottom: 89%;
  z-index: 1;
}
.basic-card{
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 3px 2px rgb(0 0 0 / 0.7));
}
.pokemon-data-container{
  height: 100%;
  padding: 10% 5% 0;
  border: 2px inset rgb(0 0 0 / 0.2);
  background-image: url("/static/img/card-texture.webp");
  background-blend-mode: overlay;
  box-shadow: inset 0px 0px 8px 4px rgb(255 255 255 / 0.7);
}
.pokemon-name{
  position: absolute;
  top: 0;
  left: 25%;
  bottom: 0;
  right: 35%;
  font-family: Gill Sans, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  transform: scaleY(1.2);
  transform-origin: 0% -55%;
  margin: 0;
}
.pokemon-hp{
  position: absolute;
  bottom: 15%;
  right: 11.5%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: 800;
  font-size: 0.7rem;
  line-height: 1;
}
.pokemon-hp span{
  display: inline-block;
  margin-left: 1px;
  font-family: Gill Sans, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -1px;
  transform: scaleX(0.8);
  transform-origin: left;
}
.pokemon-icon-type{
  position: absolute;
  top: 15%;
  right: 4.6%;
  height: 65%;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.pokemon-icon-type img{
  width: 100%;
  height: 100%;
}
.pokemon-image-container{
  width: 100%;
  aspect-ratio: 3 / 2;
  position: relative;
  display: grid;
  place-items: center;
  border-radius: 10px;
  background-image: url("/static/img/pokemon-background.webp");
  background-size: 100% 100%;
  image-rendering: pixelated;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(30deg, #6c7f81 -5%,
                                              #ffffff 30%,
                                              #c0c3c3 50%,
                                              #ffffff 70%,
                                              #6c7f81 105%
  )
}
.pokemon-image{
  width: 75%;
  position: absolute;
  aspect-ratio: 1 / 1;
}
.pokemon-shadow{
  transform: skew(30deg, 0deg) rotatex(50deg) translateX(-2%);
  transform-origin: 0% 65%;
  filter: brightness(0);
  opacity: 0.35;
}
.pokemon-bar-image{
  position: absolute;
  width: 110%;
  height: 9%;
  bottom: -9%;
  display: flex;
  align-items: center;
}
.pokemon-bar-image img{
  position: absolute;
  width: 100%;
  height: 100%;
}
.pokemon-bar-image h4{
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
  line-height: 1;
  margin: 0;
}
.tipo-secundario{
  font-family: Gill Sans, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  text-align: center;
}
.tipo-secundario span{
  text-transform: capitalize;
}
.tipo-secundario .pokemon-icon-type{
  position: static;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  vertical-align: top;
}
.pokemon-stats{
  display: flex;
  justify-content: space-around;
}
.pokemon-apodo{
  font-family: Gill Sans, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
}
.pokemon-stats h5{
  font-family: Gill Sans, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
}
.pokemon-weakness h5{
  font-family: Gill Sans, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
}
.pokemon-weakness .pokemon-icon-type{
  position: static;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  vertical-align: top;
  margin-right: -2px;
}
.pokemon-weakness span{
  font-weight: 700;
}
.pokemon-form{
  position: absolute;
  left: 8%;
  right: 8%;
  bottom: 6%;
}
.pokemon-form .input-group{
  height: 2rem !important;
  border: 3px solid !important;
  border-image-slice: 1 !important;
  border-image-source: linear-gradient(30deg, #6c7f81 -5%, #ffffff 30%, #c0c3c3 50%, #ffffff 70%, #6c7f81 105%) !important;
}
.pokemon-form .input-group-text{
  font-family: Gill Sans, sans-serif !important;
  font-weight: 500 !important;
  height: 100% !important;
  border-radius: 0 !important;
  background: linear-gradient(#6c7f81 -50%, #fff, #6c7f81 150%) !important;
}
.pokemon-form .form-control{
  height: 100% !important;
  border-radius: 0 !important;
}
.btn-eliminar{
  width: 100% !important;
  padding: 0.2rem 0.8rem !important;
  border: 3px solid !important;
  border-image-slice: 1 !important;
  border-image-source: linear-gradient(30deg, #6c7f81 -5%, #ffffff 30%, #c0c3c3 50%, #ffffff 70%, #6c7f81 105%) !important;
  background: linear-gradient(-30deg, #6c7f81 -5%, #ffffff 30%, #c0c3c3 50%, #ffffff 70%, #6c7f81 105%) !important;
  color: #000 !important;
  font-family: Gill Sans, sans-serif !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}
.margin-top-content{
    margin-top: 50px;
}

