<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../static/favicon.png">
	<title>Mi equipo Pokemon</title>
	<link rel="stylesheet" href="../static/css/mi_equipo.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/tipos.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">	
</head>
<body>
	{% extends "layout.html" %} 
	{% block content %}
	<div class="container py-5 my-0 mt-4">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					{% for message in messages %}
						{{ message }}<br>
					{% endfor %}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}
		{% endwith %}

		<div class="container m-0 p-0">
			<h1 class="mb-4 margin-top-content">Mi equipo Pokémon</h1>
			<div class="row">
        {% for pokemon in equipo %}
        <div class="col-md-4 mb-2">
            <div class="pokemon-card">
              <div class="pokemon-header">
                <img class="basic-card" src="/static/img/basic-card.webp" loading="lazy">
                <h3 class="pokemon-name">
                    {{ pokemon.nombre }}
                </h3>
                <h4 class="pokemon-hp">
                  HP<span>{{ pokemon.hp }}</span>
                </h4>
                <img class="pokemon-icon-type icon-{{ pokemon.tipo1 }}-bg" src="/static/img/icons-types/{{ pokemon.tipo1 }}.webp" loading="lazy">
              </div>
              <div class="pokemon-data-container type-{{ pokemon.tipo1 }}">
                <div class="pokemon-image-container mb-4">
                  <img class="pokemon-image pokemon-shadow" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png" alt="{{ pokemon.nombre }}" loading="lazy">
                  <img class="pokemon-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png" alt="{{ pokemon.nombre }}" loading="lazy">
                  <div class="pokemon-bar-image">
                    <img src="/static/img/bar-image.webp" loading="lazy">
                    <h4>
                      NO. {{ pokemon.id }} {{ pokemon.clasificacion }} &nbsp; HT: {{ pokemon.altura }}mts &nbsp; WT: {{ pokemon.peso }}kg.
                    </h4>
                  </div>
                </div>
                <div class="pokemon-body">
                  {% if pokemon.tipo2 != None %}
                  <h5 class="tipo-secundario">
                    Tipo secundario: <span>{{ pokemon.tipo2 }}</span>
                    <img class="pokemon-icon-type icon-{{ pokemon.tipo2 }}-bg" src="/static/img/icons-types/{{ pokemon.tipo2 }}.webp" loading="lazy">
                  </h5>
                  {% endif %}
            
                  <div class="pokemon-stats">
                    <h5>
                      Ataque: {{ pokemon.ataque }}
                    </h5>
                    <h5>
                      Defensa: {{ pokemon.defensa }}
                    </h5>
                  </div>
                  <div class="pokemon-weakness">
                    <h5>
                      Debilidades:
                      {% for tipo in pokemon.debilidades %}
                        <img class="pokemon-icon-type icon-{{ tipo }}-bg" src="/static/img/icons-types/{{ tipo }}.webp" loading="lazy">
                      {% endfor %}
                      x<span>2</span>
                    </h5>
                  </div>
                </div>
                <form class="pokemon-form" action="/eliminar-pokemon" method="post">
                    <input type="hidden" name="pokemon_id" value="{{ pokemon.id }}">
                    <button type="submit" class="btn btn-primary btn-eliminar">Eliminar</button>
                </form>
              </div>
            </div>
        </div>
        {% endfor %}
			</div>
		
			{% if equipo|length < 6 %}
			<!-- <div class="mt-4 formulario-agregar">
				<h3>Añade Pokémon al equipo</h3>
				<form action="/agregar-pokemon" method="post">
					<div class="input-group mb-3">
						<label class="input-group-text" for="pokemon_id">Selecciona un Pokémon:</label>
						<select class="form-select" name="pokemon_id" id="pokemon_id" required>
							{% if equipo %}
                {% for p in pokemon %}
								  <option value="{{ p.id }}">{{ p.nombre }}</option>
							  {% endfor %}
              {% else %}
                <div class="alert alert-warning" role="alert">
                  No hay Pokémon disponibles.
                </div>
              {% endif %}  
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-agregar">Agregar al equipo</button>
				</form>
			</div> -->
			{% else %}
				<div class="alert alert-warning" role="alert">
					Tu equipo está completo. Elimina un Pokémon para añadir uno nuevo.
				</div>
			{% endif %}
		</div>
    <form action="/eliminar-cuenta" method="post">
      <button type="submit" class="btn btn-primary btn-eliminar">
        Eliminar mi cuenta
      </button>
    </form>
	</div>	
	{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script>
    setTimeout(function() {
        $('.alert').fadeOut('slow');
    }, 1500); // 1500 milisegundos = 1,5 segundos
</script>

</body>
</html>