<!-- templates/register.html -->
{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4 mt-5">
        <!--Mensajes flash-->
        {% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					{% for message in messages %}
						{{ message }}<br>
					{% endfor %}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endif %}
		{% endwith %}
        <div class="card shadow mt-5">
            <div class="card-body">
                <h2 class="card-title text-center mb-4 mt-4">Registrarse</h2>
                <form method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Usuario</label>
                        <input type="email" class="form-control" id="username" name="username" required value="{{ username }}">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required value="{{ password }}">
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Registrarse</button>
                    </div>
                </form>
                <p class="text-center mt-3">
                    Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesion aqui</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}